.form{
    width: 75%;
    height: 100%;
    border: 1px solid red;
}

.activity{
    padding: 5% 0;
    margin-left: 2%;
    float: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #707070;
}

.title{
    width: 75px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.title-quote {
    width: 544px;
    font-size: 37px;
    color: #707070;
    border-bottom: 1px solid #4A4A4A;
}

p {
    width: 189px;
    height: 28px;
    left: 368px;
    top: 368px;
    font-size: 21px;
    line-height: 28px;
    color: #000000;
}

.activity-input {
    width: 100%;
    height: 141px;
    border: 1px solid #4A4A4A;
    border-radius: 5px;
}

.theraphy-input {
    width: 100%;
    height: 100%;
    left: 369.02px;
    top: 611px;
    border: 1px solid #4A4A4A;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.therapy-inner-box {
    width: 276px;
    height: 46px;
    background: #DFE4F7;
    border-radius: 25px;
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.theraphy-input-value {
    margin: auto;
    width: 77%;
}

.close-icon {
    margin: auto;
}

/* 
.activity{
    left: 25.49%;
    right: 58.61%;
    top: 6.3%;
    bottom: 92.47%;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #707070;
}

.title{
    position: absolute;
    width: 75px;
    height: 26px;
    left: 368px;
    top: 258px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.title-content{
    position: absolute;
    width: 544px;
    height: 42px;
    left: 369px;
    top: 292px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #707070;
}

.line{
    position: absolute;
    width: 648px;
    height: 0px;
    left: 369px;
    top: 334px;
    border: 1px solid #4A4A4A;
}

.about{
    position: absolute;
    width: 189px;
    height: 28px;
    left: 368px;
    top: 368px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.about-box{
    position: absolute;
    width: 1022px;
    height: 141px;
    left: 368px;
    top: 402px;
    border: 1px solid #4A4A4A;
    box-sizing: border-box;
    border-radius: 5px;
}

.therapy{
    position: absolute;
    width: 89.09px;
    height: 28px;
    left: 368px;
    top: 577px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.therapy-box{
    position: absolute;
    width: 1020.98px;
    height: 72px;
    left: 369.02px;
    top: 611px;
    border: 1px solid #4A4A4A;
    box-sizing: border-box;
    border-radius: 5px;
}

.therapy-innerbox1{
    position: absolute;
    width: 321px;
    height: 46px;
    left: 381px;
    top: 624px;
    background: #DFE4F7;
    border-radius: 25px;
}

.therapy-innerbox2{

position: absolute;
width: 321px;
height: 46px;
left: 715px;
top: 624px;

background: #DFE4F7;
border-radius: 25px;
}

.skills{
    position: absolute;
width: 157.86px;
height: 28px;
left: 368px;
top: 707px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #000000;

}

.skills-box{
    position: absolute;
width: 1022px;
height: 131px;
left: 368px;
top: 741px;

border: 1px solid #4A4A4A;
box-sizing: border-box;
border-radius: 5px;
}

.skills-innerbox1{
    position: absolute;
width: 321px;
height: 46px;
left: 381px;
top: 754px;

background: #DFE4F7;
border-radius: 25px;

}

.skills-innerbox2{
    
position: absolute;
width: 321px;
height: 46px;
left: 715px;
top: 754px;

background: #DFE4F7;
border-radius: 25px;
    
}

.skills-innerbox3{
    position: absolute;
width: 321px;
height: 46px;
left: 1049px;
top: 754px;

background: #DFE4F7;
border-radius: 25px;
    
}

.skills-innerbox4{
    position: absolute;
width: 321px;
height: 46px;
left: 381px;
top: 813px;

background: #DFE4F7;
border-radius: 25px;
    
}

.duration{
    position: absolute;
width: 157.86px;
height: 28px;
left: 369px;
top: 893px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #000000;

}

.duration-box{
    position: absolute;
width: 1022px;
height: 50px;
left: 369px;
top: 927px;

border: 1px solid #4A4A4A;
box-sizing: border-box;
border-radius: 5px;
}

.age{
    position: absolute;
width: 157.86px;
height: 28px;
left: 369px;
top: 992px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #000000;

}

.age-box1{
    position: absolute;
width: 407px;
height: 50px;
left: 369px;
top: 1026px;

border: 1px solid #4A4A4A;
box-sizing: border-box;
border-radius: 5px;

}

.age-box1-text{
    position: absolute;
width: 146px;
height: 28px;
left: 382px;
top: 1037px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #000000;
}

.to{
    position: absolute;
width: 88px;
height: 28px;
left: 785px;
top: 1037px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #000000;

}

.age-box2{
    position: absolute;
width: 407px;
height: 50px;
left: 869px;
top: 1026px;

border: 1px solid #4A4A4A;
box-sizing: border-box;
border-radius: 5px;

}

.level
{
    position: absolute;
width: 157.86px;
height: 28px;
left: 367px;
top: 1097px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #000000;

}

.level-box1{
    position: absolute;
width: 321px;
height: 46px;
left: 367px;
top: 1132px;

border: 2px solid #4A4A4A;
box-sizing: border-box;
border-radius: 25px;

}

.level-box2{
    position: absolute;
width: 321px;
height: 46px;
left: 708px;
top: 1132px;

border: 1px solid #4A4A4A;
box-sizing: border-box;
border-radius: 25px;
    
}

.level-box3{
    position: absolute;
width: 321px;
height: 46px;
left: 1049px;
top: 1132px;

border: 1px solid #4A4A4A;
box-sizing: border-box;
border-radius: 25px;
    
}

.status{
    position: absolute;
width: 157.86px;
height: 28px;
left: 367px;
top: 1212px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #000000;

}

.status-box1{
    position: absolute;
width: 321px;
height: 46px;
left: 367px;
top: 1247px;

border: 2px solid #4A4A4A;
box-sizing: border-box;
border-radius: 25px;
}

.status-box2{
    position: absolute;
width: 321px;
height: 46px;
left: 708px;
top: 1247px;

border: 1px solid #4A4A4A;
box-sizing: border-box;
border-radius: 25px;
}

.props{
    position: absolute;
width: 157.86px;
height: 28px;
left: 367px;
top: 1327px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #000000;

}

.prop-box{
    position: absolute;
width: 1022px;
height: 131px;
left: 367px;
top: 1361px;

border: 1px solid #4A4A4A;
box-sizing: border-box;
border-radius: 5px;

}

.props_innerbox1{
    position: absolute;
width: 321px;
height: 46px;
left: 380px;
top: 1374px;

background: #DFE4F7;
border-radius: 25px;

}

.props_innerbox2{
    position: absolute;
width: 321px;
height: 46px;
left: 714px;
top: 1374px;

background: #DFE4F7;
border-radius: 25px;
    
}

.props_innerbox3{
    position: absolute;
width: 321px;
height: 46px;
left: 1048px;
top: 1374px;

background: #DFE4F7;
border-radius: 25px;
    
}

.props_innerbox4{
    position: absolute;
width: 321px;
height: 46px;
left: 380px;
top: 1433px;

background: #DFE4F7;
border-radius: 25px;
    
} */